In [1]:
# 1. Create a set with duplicate and unique IDs
active_ids = {101, 202, 303, 101}
print("Active IDs (unique):", active_ids)

Active IDs (unique): {202, 101, 303}

In [3]:
# 2. Add a new ID 404
active_ids.add(404)
print("After adding 404:", active_ids)

After adding 404: {202, 404, 101, 303}

In [5]:
# 3. Remove ID 202 safely (no error if not present)
active_ids.discard(202)
print("After discarding 202:", active_ids)

After discarding 202: {404, 101, 303}

In [7]:
# 4. Create another set with new IDs
newly_added_ids = {303, 505}

In [9]:
# 5. Find and print the union of both sets
all_ids = active_ids.union(newly_added_ids)
print("Union of active and newly added IDs:", all_ids)

Union of active and newly added IDs: {404, 101, 505, 303}

In [11]:
# 6. Create a tuple with server info
server_info = ("server_A", "192.168.1.1", True)
print("Server Info:", server_info)

Server Info: ('server_A', '192.168.1.1', True)

In [15]:
# Access and print the IP address
print("IP Address:", server_info[1])

IP Address: 192.168.1.1